@page "/"

<h1>Bienvenu(e) sur ArmBank</h1>

<p></p>
<p></p>
<p></p>

Veuillez vous connectez ou vous enregistrer ! 

<p></p>
<p></p>
<p></p>

<button class="btn btn-primary" FontAttributes="Bold" Command="{Binding NavigateCommand}" HorizontalOptions="Center">
    Navigate to the counter 
</button>

